@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
	html {
		box-sizing: border-box;
	}

	/* *,
	*:before,
	*:after {
		box-sizing: inherit;
	} */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	body,
	main {
		@apply font-mono;
		@apply w-screen min-h-screen m-0 bg-neutral-800 text-neutral-200;
	}

	h1 {
		@apply text-3xl;
	}
	h2 {
		@apply text-2xl;
	}
	h3 {
		@apply text-xl;
	}
}

/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} 

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
 */
